#body{
    background-color: #6A6A6A;
}
#header h1 {
    /*background: url('../img/ask-logo.png');*/
    background-size: contain;
    background-repeat: no-repeat;
}
.menu{
    font-style: normal;
    font-size: 12px;
    background-color: #e5e5e5;
    height: 800px;
}
.bestRol{
    font-weight: bold;
}
.heroeThumbnail{
    width: 59px;
    height: 33px;
    border-width: 2px;
    border-style: ridge;
    border-color: #101010;
}
.icon{
    width: 25px;
    height: 25px;
}
.borderThumnail{
    width: 70px;
    padding: 5px;
}
.strongTittle{
    color: #e5e5e5;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.centerText{
    text-align: center;
}
.StrengthText{
    color: #E6B800;
}
.AgilityText{
    color: #00aa00;
}
.IntText{
    color: #28a4c9;
}
.RadiantText{
    color: #00aa00;
}
.DireText{
    color: firebrick;
}
.randomTeamThumbnail{
    width: 130px;
    height: 80px;
    border-width: 2px;
    border-style: ridge;
    border-color: #101010;
}
.roleTittle{
    color: #d43f3a;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
/* LINKS CLASS*/
a{
    color: #333;
    text-decoration:none;
}
a:hover{
    color: #333;
    text-decoration: underline;
}