#header h1 {
    background: url('../img/ask-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.bestRol{
    font-size: 15px;
    text-transform: uppercase;
    background-color: #52bdff;
    text-align: center;
    font-weight: bold;
}