#header h1 {
    background: url('../img/ask-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.bestRol{
    font-size: 15px;
    text-transform: uppercase;
    background-color: #52bdff;
    text-align: center;
    font-weight: bold;
}

.heroeThumbnail{
    width: 59px;
    height: 33px;
}
.borderThumnail{
    padding-bottom: 5px;
    border: 1px;
    border-color: #101010;
}